<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>首页 - 汇率查询系统</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
    <h1>汇率转换</h1>
    <div>
        <select id="CURR_FR">
            <option value="CNY">CNY</option>
            <option value="EUR">EUR</option>
            <option value="USD" selected="">USD</option>
        </select>
        <span class="postfix">to</span>
        <select id="CURR_TO" class="postfix">
            <option value="CNY" selected="">CNY</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
        </select>
        <button id="convert">Convert</button>
        <input
          type="text" id="CURR_VAL" readonly=""
          placeholder="Press Convert button" style="font-weight: bolder;"
        />
    </div>
    <script src="/static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script>
        $("#convert").click(function() {
            // obtain selected value
            var fromCurrency = $("#CURR_FR").val();
            var toCurrency = $("#CURR_TO").val();
            var url = 'http://localhost:8082/api/v3/convert';
            $.post(url, {
                "from": fromCurrency,
                "to": toCurrency
            }, function(jsonObj) {
                if (jsonObj.code == 0) {
                   $("#CURR_VAL").val(jsonObj.data);
                }
            });

        });
    </script>
</body>
</html>